<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.anjile.shineourlove.rxjavaapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:replace="android:icon, android:theme">
        <activity android:name=".activity.MainActivity"></activity>
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">

            <!-- 调用新浪原生SDK，需要注册的回调activity -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- 集成line客户端登录授权，需要添如下格式的过滤器 -->
            <intent-filter>
                <data android:scheme="line.1477692153" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- 填写您从Mob开发者后台中得到的Appkey和AppSecret -->
        <meta-data
            android:name="Mob-AppKey"
            android:value="21460374f8580" />
        <meta-data
            android:name="Mob-AppSecret"
            android:value="e42b9bec6c755e527328957ae38c40e6" />

        <activity
            android:name="cn.sharesdk.demo.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".activity.TalentPoolActivity"
            android:label="@string/title_activity_talent_pool"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".activity.AccountLoginActivity">

        </activity>
        <activity android:name=".activity.BudgetProgramActivity" />
        <activity
            android:name=".activity.FeedbackActivity"
            android:label="@string/title_activity_feedback"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activity.ProjectSelectActivity"
            android:label="@string/title_activity_project_select"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".activity.OpenVIPActivityActivity" />
        <activity android:name=".activity.MyOrderFormActivity" />
        <activity android:name=".activity.PersonDataActivity" />
        <activity android:name=".activity.CooperatorActivity" />
        <activity android:name=".activity.MyIntegralActivity" />
        <activity android:name=".activity.AboutUsActivity" />
        <activity android:name=".activity.MemberInfoActivity" />
        <activity android:name=".activity.IntegralDetailsActivity" />
        <activity android:name=".activity.AccountSettingActivity" />
        <activity android:name=".activity.IndentityAuthenticationActivity" />
        <activity android:name=".activity.AptitudeQueryActivity" />
        <activity android:name=".activity.PersonalSearchConditionActivity" />
        <activity android:name=".activity.CreditSituationActivity" />
        <activity android:name=".activity.HotSpotActivity" />
        <activity android:name=".activity.OrderReceiveAuthenticationActivity" />
        <activity android:name=".activity.JobResumeActivity" />
        <activity android:name=".activity.FuzzySearchActivity" />
        <activity android:name=".activity.EnterpriseDetailActivity" />
        <activity
            android:name=".activity.AptitudeSelectActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".activity.QueryActivity" />
        <activity android:name=".activity.AptitudeRankSelectActivity" />
        <activity android:name=".activity.EnterpriseAptitudeActivity" />
        <activity
            android:name=".activity.EnterprisePerformanceSettingActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".activity.ProvinceSelectActivity" />
        <!-- 服务 -->
        <service android:name=".service.BackstageDownloadService" />

        <activity android:name=".activity.PersonalSettingActivity" />
        <activity android:name=".activity.EnterpriseQueryResultActivity" />
        <activity
            android:name=".activity.MajorSelectActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".activity.PersonalMajorRankActivity" />
        <activity android:name=".activity.PersonListDetailsActivity"></activity>
        <activity android:name=".activity.StartPageActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>